<% content_for :header do %>
  <h1>Add <%= @listing.trip.title %> to Your ToDolist</h1>
<% end %>

<% content_for :vertical_nav do %>
  <ul class="nav flex-column">
    <li class="nav-item mb-3">
      <%= button_to "Back to #{@listing.trip.title}", trip_path(@listing.trip), :method => "get", class: "btn btn-info btn-block" %>
    </li>
  </ul>
<% end %>

<% content_for :content do %>
  <%= render partial: "form", locals: {listing: @listing, trip: @listing.trip} %>
<% end %>
