<div class="jumbotron jumbotron-fluid" style="background-color:white;border:2px solid #343a40;">
  <div class="container">
    <h1 class="display-4">Bucket List</h1>
    <p><img src="/images/trips.jpg" style="width:100%;"></p>
    <center><p class="lead">Trip tracker app. Never miss on one adventure!</p></center>
    <%= button_to "Sign Up", new_user_path, :method => "get", class: "btn btn-success btn-block" %>
    <%= button_to "Log In", login_path, :method => "get", class: "btn btn-info btn-block" %>
  </div>
</div>
